.gitignore
work/
out/
repo/*.pkg.tar.*
repo/*.iso
repo/*.img
packages/*.pkg.tar.*
*.iso
*.img
*.pkg.tar.*
kernel/src/
kernel/pkg/
kernel/linux-*.pkg.tar.*
kernel/linux-*.tar.xz
kernel/linux-*.tar.sign
kernel/linux-*.patch.zst
kernel/linux-*.patch.zst.sig
kernel/build.log
